<!DOCTYPE html>
<html ng-app ng-csp >
<head>
  <title>EasyCalc</title>
  <script type="text/javascript" src="js/angularjs/angular-loader.min.js"></script>
  <script type="text/javascript" src="js/angularjs/angular.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/angularjs/angular-csp.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div ng-controller="buttons as button" class="main" id="body">
    <div class="display" id="display">
      <div id="text" class="text">0</div>
    </div>
    <div class="buttons" id="buttons">
      <div ng-click="button.clear();" class="button-single" id="clear">AC</div>
      <div ng-click="button.negate();" class="button-single" id="negate"><span class="sup">+</span>/<span class="sub">&#x2212;</span></div>
      <div ng-click="button.divide();" class="button-single" id="divide">&#xf7;</div>
      <div ng-click="button.zero();" class="button-single" id="zero">0</div>
      <div ng-click="button.one();" class="button-single" id="one">1</div>
      <div ng-click="button.two();" class="button-single" id="two">2</div>
      <div ng-click="button.three();" class="button-single" id="three">3</div>
    </div>
  </div>
</body>
</html>
